body {
    font-family: Arial, sans-serif;
    background-color: #053225;
    color: #172b4d;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;

    background-image: url(../../../Recursos/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #63264A;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8f4570;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

h1 {
    text-align: center;
    color: #DEE5E5;
    margin-bottom: 0px;
}

.container {
    display: flex;
    gap: 10px;
    height: max-content;
    overflow-x: auto;
    padding: 10px;
    flex-wrap: wrap;
}

.container > div.container {
    flex: 0 0 220px;
    min-height: 150px;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    border-top: 5px solid #63264A;
    background-color: #DEE5E5;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.addContainer {
    flex: 0 0 220px;
    padding: 15px;
    min-height: 150px;
    max-height: 350px;
    text-align: center;
    font-size: 130px;
    color: #DEE5E5;
    cursor: pointer;
    background-color: #053225;
}