/* From Uiverse.io by cssbuttons-io */ 
.btn {
  position: relative;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 800;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: color-mix(in srgb, var(--btn-bg) 80%, white);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.editBtn{
    height: 2.5rem !important;
    width: 2.5rem !important;
    border-radius: 50% !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background-color: #DEE5E5;
    --btn-bg: #DEE5E5;
}

.circleBtn{
  border-radius: 50% !important;
}

.smallBtn{
  font-size: 0.5rem;
  height: 1rem;
  width: 1rem;
  padding: 5px;
}
.mediumBtn{
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  padding: 10px 15px;
}