body {
    font-family: Arial, sans-serif;
    background-color: #053225;
    color: #172b4d;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url(../../../Recursos/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #63264A;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8f4570;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

h1 {
    text-align: center;
    color: #DEE5E5;
    margin-bottom: 0px;
}

.workspace-header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-container{
    height: fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    
    border-radius: 10px;
    background-color: #0532251c;
    border: solid 10px #3D0B37;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.title-container h1{
    margin-top:  0;
}
.notouchie{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-workspace{
    height: 70vh;
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.addlistContainer{
    height: 100%;
    width: fit-content;
}
.listsContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.addList{
    backdrop-filter: blur(10px);
    background-color: #053225;
    --btn-bg: #053225;
    color: white;
}
.addList:hover{
    font-weight: 900;
}
